    <footer class="alert-dismissible alert-secondary bg-primary">
        <div class="container overflow-hidden text-center text-light"  >
            <div class="row gx-5">
                <div class="col">
                    <div class="p-3"><h5 class="mt-5 text-white1" >Не вірите в нас? Нічого, ми не будемо вас переконувати, з часом ви точно нам повірите... <cite>або не зможете</cite></h5></div>
                </div>
                <div class="col">
                    <div class="p-3"></div>
                </div>
                <div class="col">
                    <div class="p-3"><h4 class="text-white1">Contacts</h4></div>
                    <div class="container text-center main-content">
                        <h5></h5>
                        <div class="row g-0">
                            <div class="col text-white1">
                                <div class="p-1">
                                    <a href="#"><h5 class="text-white1">Gmail</h5></a>
                                    <p class="text-white1">xxxx@gmail.com</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="p-1">
                                    <a href="#"><h5 class="text-white1">Telegram</h5></a>
                                    <p>@xxxx</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="p-3">
                                    <a href="#"><h5 class="text-white1">Phone number</h5></a>
                                    <p>+XXX-XX-XX-XX-XXX</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>